.Login {

  &-button {
    width: 90%;
    margin: 12px 5%;
  }

  &-panel {
    margin: 8px 5%;

    &Subheading {
      font-size: 0.8em !important;
    }
  }

  &-icon {
    margin-left: 5px;
  }
}